<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webappday25</display-name>
  <servlet>
    <servlet-name>Intro</servlet-name>
    <servlet-class>ai.jobiak.day1.Intro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Intro</servlet-name>
    <url-pattern>/begin</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Counter</param-name>
    <param-value>25</param-value>
  </context-param>
  <servlet>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>ai.jobiak.day1.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/fact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>ai.jobiak.day1.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>ai.jobiak.day1.LifecycleServlet</servlet-class>
   
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcServlet1</servlet-name>
    <servlet-class>ai.jobiak.day1.JdbcServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet1</servlet-name>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>links.html</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>ai.jobiak.day1.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringservlet</display-name>
    <servlet-name>QueryStringservlet</servlet-name>
    <servlet-class>ai.jobiak.http.QueryStringservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringservlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupFormServlet</display-name>
    <servlet-name>SignupFormServlet</servlet-name>
    <servlet-class>ai.jobiak.http.SignupFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupFormServlet</servlet-name>
    <url-pattern>/signupform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcConfigServlet</display-name>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <servlet-class>ai.jobiak.http.JdbcConfigServlet</servlet-class>
    <init-param>
      <description>username for db</description>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <description>db password</description>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <description>mysql connector</description>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/world</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConfigServlet</servlet-name>
    <url-pattern>/jdbcconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>ai.jobiak.http.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>ai.jobiak.http.C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>D</display-name>
    <servlet-name>D</servlet-name>
    <servlet-class>ai.jobiak.http.D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupData</display-name>
    <servlet-name>SignupData</servlet-name>
    <servlet-class>ai.jobiak.task.SignupData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupData</servlet-name>
    <url-pattern>/signupdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>ai.jobiak.task.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/calci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactorialServlet</display-name>
    <servlet-name>FactorialServlet</servlet-name>
    <servlet-class>ai.jobiak.task.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialServlet</servlet-name>
    <url-pattern>/factservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationTable</display-name>
    <servlet-name>MultiplicationTable</servlet-name>
    <servlet-class>ai.jobiak.task.MultiplicationTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationTable</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmstrongCheck</display-name>
    <servlet-name>ArmstrongCheck</servlet-name>
    <servlet-class>ai.jobiak.task.ArmstrongCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmstrongCheck</servlet-name>
    <url-pattern>/armstrongcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfectCheck</display-name>
    <servlet-name>PerfectCheck</servlet-name>
    <servlet-class>ai.jobiak.task.PerfectCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfectCheck</servlet-name>
    <url-pattern>/perfect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrimeRange</display-name>
    <servlet-name>PrimeRange</servlet-name>
    <servlet-class>ai.jobiak.task.PrimeRange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeRange</servlet-name>
    <url-pattern>/primerange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StrongCheck</display-name>
    <servlet-name>StrongCheck</servlet-name>
    <servlet-class>ai.jobiak.task.StrongCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrongCheck</servlet-name>
    <url-pattern>/strongcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fibanocci</display-name>
    <servlet-name>Fibanocci</servlet-name>
    <servlet-class>ai.jobiak.task.Fibanocci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibanocci</servlet-name>
    <url-pattern>/fib</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PalindromeCheck</display-name>
    <servlet-name>PalindromeCheck</servlet-name>
    <servlet-class>ai.jobiak.task.PalindromeCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PalindromeCheck</servlet-name>
    <url-pattern>/palindrome</url-pattern>
  </servlet-mapping>
</web-app>